<html>
<style>
    .query{font-size:20px}
    .result{font-size:20px;margin:0 auto;line-height: 10px;}
</style>
<form method="post" action="/">
    <table>
        <td>
            <p> 发送 </p>
        </td>
        <td>
            <textarea type="text" class="query" name="input_text" id="input_text" value="" 
            style="width:1000px;height:200px"
            onkeydown="if (event.keyCode == 0) { this.form.submit();
                return false; }">{{input_text}} </textarea>
        <input type="submit" for="input_text" value="提交">
        </td>
    </table>
</form>

</html>
